@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes blurIn {
    0% {
        filter: blur(100px);
    }
    100% {
        filter: blur(0px);
    }
}