{% extends 'movieuniverse/base.html' %}
{% load static %}

{% block content %}
<div class="u-text-center">
    <h1 class='title'>Insights</h1>
    <h1 class="insights-heading">Catalog of Movies by Year</h1>
    <img class="insights-img" src="{% static 'movieuniverse/img/Years.png' %}" alt="">

    <h1 class="insights-heading">Genres Count Totals</h1>
    <img class="insights-img" src="{% static 'movieuniverse/img/Genres.png' %}" alt="">

    <h1 class="insights-heading">Percentage of Movies by Streaming Provider </h1>
    <img class="insights-img" src="{% static 'movieuniverse/img/MovieCount.png' %}" alt="">
</div>
{% endblock %}