@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("utilities.ceff6843e8e2.css");
@import url("animations.e0b79d9ec17c.css");
@import url("typography.bbf3d936be73.css");


*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

::selection {
    background-color: rgba(253,29,29,1);
    color: #fff;
}


body {
    position: relative;
    height:100vh;
    background: rgb(131,58,180);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    background-position: center;
    background-size: cover;
    color:#fff;
}

/* Movie form styles */
.movie-form {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fadeIn 1s;
}

.search-box {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    width: 100%;
    color: #fff;
    transition: 1s all;
    border: none;
}

.search-box:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    padding: 10px;
    outline: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
}

.options {
    display: flex;
    align-items: baseline;
}

.checkbox {
    margin: 10px 10px;
}

.choice {
    margin-right: 10px;
    font-weight: 100;
}

.recommendations-container {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    box-shadow: 0 0 1rem 0 rgba(12, 12, 12, 0.2); 
    backdrop-filter: blur(5px);
    padding: 20px;
    display: flex;
}

.recommended {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
}

.recommendations-movie-card {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 150px;
    box-shadow: 0 0 1rem 0 rgba(12, 12, 12, 0.2); 
    backdrop-filter: blur(100px);
    transition: 0.5s all;
}

.recommendations-movie-card:hover {
    box-shadow: 0 0 1.5rem 0 rgba(12, 12, 12, 0.5); 
}

.recommendations-container a {
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    background:linear-gradient()
}

.platform {
    font-weight: 100;
    padding: 20px;
}

.search-btn,
.search-btn:active {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px;
    margin: 10px;
    margin-top: 25px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.search-btn:hover {
    color: transparent;
    background-color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
}

/* Results styles */
.results-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

.result-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgba(12, 12, 12, 0.2); 
    color: #fff;
    backdrop-filter: blur(100px);
    width: 400px;
    animation: fadeInUp 1s;
    transition: 0.5s all;
}

.result-card:hover {
    box-shadow: 0 0 1.5rem 0 rgba(12, 12, 12, 0.5); 
}

.results-container a:link, a:visited,
.recommended-container a:link, a:visited {
    color: white;
    text-decoration: none;

}

.query-heading {
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    animation: fadeIn 1s;
}

.query {
    font-weight: 400;
}

.query-container {
    padding: 20px;
}

/* Detail styles */
.detail-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgba(12, 12, 12, 0.2); 
    height: 75vh;
    padding: 50px;
    margin: 100px;
    color:rgba(131,58,180,1);
    overflow: scroll;
    animation: blurIn 1.25s ease-in;
}

.detail-inner {
    display: inline-block;
    width: 50%;
    padding: 50px;
}

.detail-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.movie-header {
    font-size: 75px;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.provider-logo {
    width: 150px;
}

.streaming-services {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rt-rating {
    width: 20px;
}

/* Insights styles */

.insights-heading {
    margin: 20px;
    font-weight: 100;
}

.insights-img {
    box-shadow: 0 0 1rem 0 rgba(12, 12, 12, 0.2);
    padding: 10px;
    margin: 10px;
    transition: all 1s;
}

.insights-img:hover {
    box-shadow: 0 0 1rem 0 rgba(12, 12, 12, 0.5);
}


@media only screen and (max-width: 700px) {
    .recommendations-container {
        flex-direction: column;
        align-items: center;
    }

    .detail-container {
        height: initial;
        margin: 0;
    }

    .detail-outer,
    .streaming-services {
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
    }

    .movie-header {
        font-size: 50px;
    }

    .options {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}